body {
  background-color: #FF8000;
  height: 100%;
}
.menu_superior {
position : absolute;
top: 0;
left : 0;
width : 100%;
background : url(./img/nav_background.png);
}
.menu_superior ul {
margin : 0 auto;
width : 940px;
list-style : none;
}
.menu_superior ul li {
float : left;
}
.menu_superior ul li a {
display : block;
margin-right : 20px;
width : 140px;
font-size : 14px;
line-height : 44px;
text-align : center;
text-decoration : none;
color : #ccc;
}
.menu_superior ul li a:hover {
color : #fff;
}
.menu_superior ul li.selected a {
color : #fff;
}
.eslogan {
  position: fixed;
  top: 100px;
  left: 200px;
}
.categorias{
  position: fixed;
  top: 300px;
  left: 300px;
}
#charcuteria{
  margin: 10%;
  background-color: black;
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
}
#pescaderia{
    margin: 10%;
    background-color: black;
    background-repeat:no-repeat;
    height:100px;
    width:100px;
    background-position:center;
}
#fruteria{
  margin: 10%;
  background-image: url(./img/);
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
}


.pie {
  background-color: black;
  width: 100%;
  left: 0px;
  bottom: 0px;
  position: fixed;
}

.pie p {
  font: #fff;
}
